@font-face {
    font-family: "Google";
    src: url(GoogleSansFlex_9pt-Thin.ttf);
}
@font-face {
    font-family:"Nunito";
    src: url(Nunito-Black.ttf);
}
:root{
    --bg-color: rgb(0, 103, 220);
    --text-color: blue;
    --secondary-color: grey;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #56CCF2, #2F80ED);

}
body > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    overflow: hidden;
}
nav {
    padding: 10px 15px;
    position: relative;
    display: inline-block;


}
nav > section  svg{
    fill: #ebebeb;

}
nav dialog{
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.179);

    font-family: "Google";
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.619);
    border-radius: 1rem;
    font-size: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.244);
    color: rgba(255, 255, 255, 0.762);
    padding: 0;
    overflow: hidden;
    margin-left: 20px;
    width: 200px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
}
nav dialog:focus{
    outline: none;
}


nav dialog p{
    margin: 0;
    padding: 12px;
    transition: all 0.3s ease;
    
}
nav dialog p:hover{
    background-color: rgba(255, 255, 255, 0.404);
    
}

div{

    width: min(90%, 500px);
    height:(78vh + 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.345);
}
div header h2{
    margin-top: auto;
    background: #021B79;
    font-family: "Google";
    font-size: min(1.1rem, 65%);
    text-align: center;
    padding: 2px calc(9vh + 1rem);
    color: white;

}
div header h4{
    font-family: "Nunito";
    font-size: 0.85rem;
    text-align: center;

}
div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div input{
    width: min(9rem, 40vw);
    height: 2.2rem;
    padding: 5px;
    caret-color: rgb(0, 162, 255);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 4px;
    border: 1.5px solid black;
    transition: all 0.2s ease;
}
.invalidBorder{
    border: 2px solid #ff0000;
    
}
.invalidText{
    color: red;
}

div input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


div input:focus{
    outline: none;
    
}
div button{
    margin-top: 30px;
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #005C97, #363795);
    border: none;
    border-radius: 2rem;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0, 119, 255, 0.377);
}
div button[id = "reset"]{
    background: linear-gradient(90deg,#4776E6 ,#8E54E9);
    display: none;
}
button:hover{
    transform: translateY(-3px);
}
button:active{
    background-color: rgb(124, 117, 139);
}
div ul{
    list-style: none;
    font-family: "Google";
    align-items: center;
    flex-direction: column;
    display: flex;
    font-weight: bold;
    margin-top: 30px;
    font-size: 12px;
    padding: 10px 4vw;
    box-shadow: 2px 4px 16px rgba(0, 119, 255, 0.245);
}
div p{
    margin-top: 25px;
    font-size: 18px;
    font-family: "Nunito";
    color: #021B79;
}
